<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="Homepage.css" />
    <link rel="stylesheet" href="general.css" />
     <link rel="stylesheet" href="Login.css" />
     <link rel="stylesheet" href="admin.css" />
     <link rel="stylesheet" href="admin_nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="../"><span>i</span>Shop</a>
      </div>     
    </header>
    <main>
	    <div id="myNav" class="overlay">
	  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  			<div class="overlay-content">
	   				<a href="Admin.html">Árukészlet</a>
	    			<a href="Admin_user.html">Felhasználókezelés</a>
	    			<a href="Admin_order.html">Rendelések</a>
	 			</div>
			</div>
			<span style="font-size:2em;cursor:pointer" onclick="openNav()">&#9776;</span>
	
			<script>
				function openNav() {
	  			document.getElementById("myNav").style.width = "30%";
				}
	
				function closeNav() {
				  document.getElementById("myNav").style.width = "0%";
				}
			</script>
		    <section>
			    <h1>Felhasználókezelés</h1>
					<table>
					  <tr>
					    <th>Felhasználó e-mail címe</th>
					    <th>Letiltás</th>
					  </tr>
					  <tr>
					    <td>Józsi</td>
					    <td><a href="Block.html" class ="block">Letiltás</a></td>
					  </tr>
					  <tr>
					    <td>Béla</td>
					    <td><a href="Block.html" class ="block">Letiltás</a></td>
					  </tr>
					</table>	
			</section>
      	
    </main>
    <footer>
      <div class="footer">
        <div class="footer-fastLinks">
          <div class="footer-fastLinks-header">
            <h3>Gyors linkek</h3>
          </div>
          <div class="footer-fastLinks-links">
            <a href="">Áruház</a>
            <a href="">Hírlevél</a>
            <a href="">Elérhetőségek</a>
            <a href="">ÁSZF</a>
          </div>
        </div>
        <div class="footer-logo">
          <h2><span>i</span>Shop</h2>
        </div>
        <div class="footer-connection">
          <div class="footer-connection-header">
            <h3>Elérhetőségek</h3>
          </div>
          <div class="footer-connection-textContainer">
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-map-marked.svg"
                alt="map"
              />
              <p>Szeged, Ady tér 10, 6722</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img src="pictures/FooterPic/envelope.svg" alt="email" />
              <p>info@ishop.com</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-phone.svg"
                alt="phone"
              />
              <p>+36/20-000-000</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-phone.svg"
                alt="phone"
              />
              <p>+36/70-111-111</p>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2023. Minden jog fenntartva.</p>
      </div>
    </footer>
  </body>
</html>
