<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#header").load("../templates/Header.html");
      });
      $(function () {
        $("#footer").load("../templates/Footer.html");
      });
    </script>
  </head>
  <body>
    <div id="header"></div>

    <main>
      <!--Hero Section-->
      <div class="homepage-hero">
        <div class="homepage-hero-mainPic">
          <img
            src="pictures/HomepagePic/Apple-iPhone-15-Pro-Max-Black-Titanium-frontimage.png"
            alt="iphone"
          />
        </div>
        <div class="homepage-hero-text">
          <div class="homepage-hero-text-header">
            <div class="homepage-hero-text-header-iphone">
              <img src="pictures/HomepagePic/apple_logo.png" alt="apple-logo" />
              <h3>iPhone 15 Pro</h3>
            </div>
            <div>
              <h2>Titánium</h2>
            </div>
            <div
              class="homepage-hero-text-orderButton orderButton"
              id="orderButton"
            >
              <button class="orderButton">Rendelés</button>
            </div>
          </div>
        </div>
      </div>

      <!--BuyAttract Section-->
      <div class="homepage-buyAttract">
        <div class="homepage-buyAttract-mainText">
          <h2>Válogass a sokszínű termékek között</h2>
        </div>
        <div class="homepage-buyattract-buttonContainer">
          <p>Webshop</p>
          <a href=""
            ><img src="pictures/HomepagePic/Group.svg" alt="button"
          /></a>
        </div>
      </div>

      <!--Product Info Section-->
      <div class="homepage-product-info">
        <div class="homepage-product-info-airPods"></div>
        <div class="homepage-product-info-watch"></div>
        <div class="homepage-product-info-iPad"></div>
      </div>

      <!--Newsletter Section-->
      <div class="homepage-newsLetter">
        <div class="homepage-newsLetter-textBox">
          <h3><span>i</span>Shop hírlevél</h3>
          <p>Ne maradjon le a új ajánlatainkról és termékeinkről</p>
        </div>
        <div class="homepage-newsLetter-inputBox-container">
          <input
            type="text"
            class="homepage-newsLetter-inputBox"
            id="newsLetter-firstName"
            placeholder="Vezetéknév"
          />
          <input
            type="text"
            class="homepage-newsLetter-inputBox"
            id="newsLetter-lastName"
            placeholder="Keresztnév"
          /><br />
          <input
            type="text"
            class="homepage-newsLetter-inputBox"
            id="newsLetter-email"
            placeholder="Email"
          /><br />
          <button
            class="homepage-newsLetter-inputBox-button orderButton"
            id="newsLetter-button"
          >
            Feliratkozás
          </button>
        </div>
      </div>

      <!--New ProductsSection-->
      <div class="homepage-newProducts">
        <div class="homepage-newProducts-text">
          <h2>Újdonságok</h2>
          <p>Válasszon folyamatosan megújuló termékbázisunkból</p>
        </div>
        <div class="homepage-newProducts-gridContainer">
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
        </div>
      </div>

      <!--Mac ProductsSection-->
      <div class="homepage-newProducts">
        <div class="homepage-newProducts-text">
          <h2>Mac választékunk</h2>
          <p>Elképesztően nagy. Eszméletlenül vékony.</p>
        </div>
        <div class="homepage-newProducts-gridContainer">
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div id="footer"></div>
  </body>
</html>
