<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="Homepage.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="stylesheet" href="Login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header"></div>

    <main>
      <section>
        <h1>Bejelentkezés</h1>
        <div class="login">
          <form action="#" method="post" autocomplete="off">
            <fieldset>
              <label> E-mail cím: </label>
              <input
                type="text"
                maxlength="20"
                placeholder="jozsika@gmail.com"
                required
                class="form-input"
              />
              <label> Jelszó: </label>
              <input
                type="password"
                maxlength="25"
                required
                class="form-input"
              />
            </fieldset>
            <input
              type="submit"
              name="login-btn"
              value="Bejelentkezés"
              class="form-input gomb"
            />
          </form>
        </div>
      </section>
      <h2>Ha még nem regisztrált</h2>
      <a href="Signup.html"
        ><input
          type="submit"
          name="signup-btn"
          value="Regisztráció"
          class="form-input btn"
      /></a>
    </main>

    <div id="footer"></div>
  </body>
</html>
