<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="Homepage.css" />
    <link rel="stylesheet" href="general.css" />
     <link rel="stylesheet" href="Login.css" />
     <link rel="stylesheet" href="admin.css" />
     <link rel="stylesheet" href="admin_nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"/>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="../Html/Homepage.html"><span>i</span>Shop</a>
      </div>     
    </header>
    <main>
		<section>
		    <h1>Rendelések</h1>
            <div style="width: 80%; margin: 0 auto" th:each="order : ${orders}">
				<table style="width: 100%">
                  <p th:text="'Rendelés ideje: ' + ${order['orderDate']}">Rendelés ideje: 2023.12.12</p>
                  <p th:text="'Összesen: ' + ${order['price'] + ' Ft'}"></p>
                  <p>Kiszállítva: nem</p>
				  <tr>
				    <th>Termék neve</th>
				    <th>Mennyiség (db)</th>
				    <th>Ára (Ft)</th>
				  </tr>
				  <tr th:each="item : ${order['ordereditems']}">
				    <td th:text="${item['name']}">Airpods</td>
				    <td th:text="${item['quantity']}">2</td>
				    <td th:text="${item['price']}">118 000</td>
				  </tr>
				</table>
            </div>
		</section>
      	
    </main>
    <footer>
      <div class="footer">
        <div class="footer-fastLinks">
          <div class="footer-fastLinks-header">
            <h3>Gyors linkek</h3>
          </div>
          <div class="footer-fastLinks-links">
            <a href="">Áruház</a>
            <a href="">Hírlevél</a>
            <a href="">Elérhetőségek</a>
            <a href="">ÁSZF</a>
          </div>
        </div>
        <div class="footer-logo">
          <h2><span>i</span>Shop</h2>
        </div>
        <div class="footer-connection">
          <div class="footer-connection-header">
            <h3>Elérhetőségek</h3>
          </div>
          <div class="footer-connection-textContainer">
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-map-marked.svg"
                alt="map"
              />
              <p>Szeged, Ady tér 10, 6722</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img src="pictures/FooterPic/envelope.svg" alt="email" />
              <p>info@ishop.com</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-phone.svg"
                alt="phone"
              />
              <p>+36/20-000-000</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-phone.svg"
                alt="phone"
              />
              <p>+36/70-111-111</p>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2023. Minden jog fenntartva.</p>
      </div>
    </footer>
  </body>
</html>
