<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />

    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="stylesheet" href="Productpage.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script>

    document.addEventListener("DOMContentLoaded", function () {
      const container = document.querySelector(".rating");
      const items = container.querySelectorAll(".rating-item");
      const hiddenInput = document.querySelector('input[name="rating"]');
      container.onclick = (e) => {
        const elClass = e.target.classList;
        // change the rating if the user clicks on a different star
        if (!elClass.contains("active")) {
          items.forEach(
            // reset the active class on the star
            (item) => item.classList.remove("active")
          );
          console.log(e.target.getAttribute("data-rate"));
          hiddenInput.value = e.target.getAttribute("data-rate");
          console.log(hiddenInput.value);
          elClass.add("active"); // add active class to the clicked star
        }
      };
      });
      </script>

    <script th:inline="javascript" th:if="${message != null}">
      var message = [[${message}]];
    alert(message);
    </script>
  </head>

  <body>
    <header class="header">
      
      <div class="header-logo">
        <a href="/"><span>i</span>Shop</a>
      </div>
      <div class="navigation"/>

          <input type="checkbox" 
          class="toggle-menu">
          <div class="hamburger"></div>

          <ul class="menu">
            <li><a href="Webshop" class="header-links-link">Webáruház</a></li>
            <li><a href="Shops" class="header-links-link">Üzleteink</a></li>
            <li><a href="Info" class="header-links-link">Elérhetőségek</a></li>
            <li><a href="Order" class="header-links-link">Rendeléseim</a></li>
            
          </ul>
  
        
    </header>

    <main>
      <div class="productpage-main">
        <div class="productpage-main-productPicture">
          <div class="productpage-main-productMainPicture">
            <img
              th:if="${images != null and not #lists.isEmpty(images) and #lists.size(images) > 0}"
              th:src="${'/uploads/' + images.get(0)['imagePath']}"
              src="pictures/ProductPage/Apple-iPhone-15-Pro-Max-Black-Titanium-frontimage.png"
              alt="iphone"
            />
          </div>
          <div class="productpage-main-productPicture-Slider">
            <div class="productpage-main-productPicture-Slider-element">
              <img
                th:if="${images != null and not #lists.isEmpty(images) and #lists.size(images) > 1}"
                th:src="${'/uploads/' + images.get(1)['imagePath']}"
                src="pictures/ProductPage/Apple-Logo.jpeg"
                alt=""
              />
            </div>
            <div class="productpage-main-productPicture-Slider-element">
              <img
                th:if="${images != null and not #lists.isEmpty(images) and #lists.size(images) > 2}"
                th:src="${'/uploads/' + images.get(2)['imagePath']}"
                src="pictures/ProductPage/iphone-15-pro-finish-select-202309-6-1inch-naturaltitanium_AV2.jpeg"
                alt=""
              />
            </div>
            <div class="productpage-main-productPicture-Slider-element">
              <img
                th:if="${images != null and not #lists.isEmpty(images) and #lists.size(images) > 3}"
                th:src="${'/uploads/' + images.get(3)['imagePath']}"
                src="pictures/ProductPage/iphone-15-pro-finish-select-202309-6-1inch-naturaltitanium_AV3.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="productpage-main-textContainer">
          <div class="productpage-main-textContainer-backTo">
            <p>Vissza a <a href="Webshop">termékek</a> oldalra</p>
            <img
              class="productpage-main-textContainer-backToImg"
              src="pictures/ProductPage/greater-than-square.svg"
              alt="menu"
            />
          </div>
          <div class="productpage-main-textContainer-mainText">
            <h2 th:text="${product['name']}"></h2>
          </div>
          <div class="productpage-main-textContainer-review">
            <div class="productpage-main-textContainer-review-stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <p>40 vélemény</p>
          </div>
          <div
            class="productpage-main-textContainer-price"
            th:text="${product['price']} + ' Ft'"
          >
            510 000 Ft
          </div>
          <div class="productpage-main-textContainer-information">
            <p th:text="${product['description']}">
              6,7"-es Super Retina XDR OLED kijelző 2796 × 1290 felbontással 128
              GB belső tárhely single + eSIM Apple A16 Bionic processzor
              kameramodul: 48Mpx (f/1,6) fő kamera + 12Mpx széles látószögű,
              12Mpx felbontású előlapi kamera, GPS, NFC, LTE, 5G, USB-C
              csatlakozó, IP68 vízálló gyorstöltés 20W, vezeték nélküli töltés
              15W megjelenés éve 2023
            </p>
          </div>
          <div class="productpage-main-textContainer-buttons">
            <div class="productpage-main-textContainer-buttons-counter">
              <form
                xmlns:th="http://www.thymeleaf.org"
                action="#"
                th:action="@{/addToCart}"
                method="post"
              >
                <input
                  type="button"
                  name="plusminus"
                  id="minus"
                  value="-"
                  onclick=""
                />
                <input
                  class="number"
                  type="number"
                  name="quantity"
                  id="quantity"
                  value="1"
                />
                <input
                  type="hidden"
                  th:value="${product['productID']}"
                  name="productID"
                  id="productID"
                />
                <input
                  type="button"
                  name="plusminus"
                  id="plus"
                  value="+"
                  onclick=""
                />
                <input
                  type="submit"
                  name="signup-btn"
                  value="Kosárba"
                  class="orderButton"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="productpage-rwrite">
        <h2>Ossza meg élményét másokkal is</h2>
        <form action="#" th:action="@{/writeComment}" method="post" class="rwrite">
          <textarea name="comment" cols="100%" rows="3"></textarea>

          <div class="rating-container">
          <h3>Értékelés:</h3>
            <input type="submit" name="rwriteSubmit" id="rwriteSubmit"/>
            <input type="hidden" name="rating" value="5">
            <input type="hidden" th:value="${product['productID']}" name="productID"/>
            <ul class="rating" data-rate="5">
              <li class="rating-item" data-rate="1"></li>
              <li class="rating-item" data-rate="2"></li>
              <li class="rating-item" data-rate="3"></li>
              <li class="rating-item" data-rate="4"></li>
              <li class="rating-item active" data-rate="5"></li>
            </ul>
          </div>
        </form>
      </div>

      <div class="productpage-review">
        <h2>Visszajelzések</h2>
        <p>Mások ezeket gondolják.</p>
        <div class="productpage-review-container">
          <div class="productpage-review-container-element"   th:each="comment : ${comments}">
            <div class="productpage-review-container-head">
              <div th:if="${comment['email'] != null}"><h3 th:text="${comment['firstname']} + ' ' + ${comment['lastname']} "></h3></div>
              <div th:if="${comment['email'] == null}"><h3>Törölt felhasználó</h3></div>
              <div >
                <span th:each="rating : ${#numbers.sequence(1,5)}" th:class="${rating<=comment['rate']}? 'fa fa-star checked': 'fa fa-star'"></span>
              </div>
            </div>
            <div class="productpage-review-container-body">
              <p th:text="${comment['comment']}">
                Elképesztően hosszú akkumlátor- idő. Könnyű kezelhetőség
                mellett, rengeteg funkciók.
              </p>
            </div>
            <div class="productpage-review-container-foot">
              <p th:text="${comment['publishDate']}">2023.05.20.</p>
            </div>
            <form th:if="${comment['email'] == email && comment['email'] != null}" action="#" th:action="@{/deleteComment}" method="post">
              <input type="hidden" name="commentID" th:value="${comment['commentID']}">
              <input type="submit" value="Törlés">
            </form>
          </div>
          <!--<div class="productpage-review-container-element">
            <div class="productpage-review-container-head">
              <div><h3>ZoliZoltán</h3></div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="productpage-review-container-body">
              <p>
                Elképesztően hosszú akkumlátor- idő. Könnyű kezelhetőség
                mellett, rengeteg funkciók.
              </p>
            </div>
            <div class="productpage-review-container-foot">
              <p>2023.05.20.</p>
            </div>
          </div>-->
          <!--<div class="productpage-review-container-element">
            <div class="productpage-review-container-head">
              <div><h3>ZoliZoltán</h3></div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="productpage-review-container-body">
              <p>
                Elképesztően hosszú akkumlátor- idő. Könnyű kezelhetőség
                mellett, rengeteg funkciók.
              </p>
            </div>
            <div class="productpage-review-container-foot">
              <p>2023.05.20.</p>
            </div>
          </div>-->
        </div>
      </div>

      <div class="productpage-newProducts">
        <div class="productpage-newProducts-text">
          <h2>Mac választékunk</h2>
          <p>Elképesztően nagy. Eszméletlenül vékony.</p>
        </div>
        <div class="productpage-newProducts-gridContainer">
          <div class="productpage-newProducts-gridItem">
            <div class="productpage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="productpage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="productpage-newProducts-gridItem-productBuy">
              <button
                class="productpage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
          <div class="productpage-newProducts-gridItem">
            <div class="productpage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="productpage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="productpage-newProducts-gridItem-productBuy">
              <button
                class="productpage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
          <div class="productpage-newProducts-gridItem">
            <div class="productpage-newProducts-gridItem-productPicture">
              <img
                src="pictures/HomepagePic/mbp-14-sv-2023.jpeg"
                alt="airpods"
              />
            </div>
            <div class="productpage-newProducts-gridItem-productName">
              <p>MacBook Pro M2 Chip</p>
            </div>
            <div class="productpage-newProducts-gridItem-productBuy">
              <button
                class="productpage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>1 580 000Ft</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="footer-fastLinks">
          <div class="footer-fastLinks-header">
            <h3>Gyors linkek</h3>
          </div>
          <div class="footer-fastLinks-links">
            <a href="Webshop">Áruház</a>
            <a href="Info">Elérhetőségek</a>
            <a href="ÁSZF">ÁSZF</a>
          </div>
        </div>
        <div class="footer-logo">
          <h2><span>i</span>Shop</h2>
        </div>
        <div class="footer-connection">
          <div class="footer-connection-header">
            <h3>Elérhetőségek</h3>
          </div>
          <div class="footer-connection-textContainer">
            <div class="footer-connection-textContainer-element">
              <img
                src="pictures/FooterPic/alternate-map-marked.svg"
                alt="map"
              />
              <p>Szeged, Ady tér 10, 6722</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img src="pictures/FooterPic/envelope.svg" alt="email" />
              <p>info@ishop.com</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img src="pictures/FooterPic/alternate-phone.svg" alt="phone" />
              <p>+36/20-000-000</p>
            </div>
            <div class="footer-connection-textContainer-element">
              <img src="pictures/FooterPic/alternate-phone.svg" alt="phone" />
              <p>+36/70-111-111</p>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2023. Minden jog fenntartva.</p>
      </div>
    </footer>
  </body>
</html>
