<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="Homepage.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="stylesheet" href="Login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#header").load("../templates/Header.html");
      });
      $(function () {
        $("#footer").load("../templates/Footer.html");
      });
    </script>
  </head>
  <body>
    <div id="header"></div>

    <main>
      <section>
        <h1>Regisztráció</h1>
        <div class="registration">
          <form action="#" th:action="@{/registerUser}" method="post">
            <fieldset>
              <label> Vezetéknév: </label>
              <input
                type="text"
                maxlength="20"
                placeholder="Valami"
                required
                class="form-input"
                name="lastname"
                id="lastname"
              />
              <label> Keresztnév: </label>
              <input
                type="text"
                maxlength="20"
                placeholder="István"
                required
                class="form-input"
                name="firstname"
                id="firstname"
              />
              <label> E-mail cím: </label>
              <input
                type="email"
                placeholder="valaki@gmail.com"
                required
                class="form-input"
                name="email"
                id="email"
              />
              <label> Jelszó: </label>
              <input
                type="password"
                maxlength="25"
                required
                class="form-input"
                name="password1"
                id="password1"
              />
              <label> Jelszó ismét: </label>
              <input
                type="password"
                maxlength="25"
                required
                class="form-input"
                name="password2"
                id="password2"
              />
            </fieldset>

            <input
              type="submit"
              name="signup-btn"
              value="Regisztráció"
              class="form-input btn"
            />
          </form>
        </div>
      </section>
    </main>

    <div id="footer"></div>
  </body>
</html>
