<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShop</title>
    <link rel="stylesheet" href="Footer.css" />
    <link rel="stylesheet" href="Header.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="webshop.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#header").load("../templates/Header.html");
      });
      $(function () {
        $("#footer").load("../templates/Footer.html");
      });
    </script>
  </head>

  <body>
    <div id="header"></div>
    <main>
      <div class="webshop-header">
        <h1>Webshop</h1>
      </div>
      <div class="webshop-container">
        <div class="webshop-filter">
          <div class="websohp-filter-f">
            <button class="webshop-filter-button">Szűrők</button>
            <p>Találatok: 120</p>
          </div>
          <div class="websohp-filter-s">
            <h2>Rendezés</h2>
            <button class="webshop-filter-button">Ár szerint csökkenő</button>
          </div>
        </div>
        <div class="homepage-newProducts-gridContainer">
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <a href="Productpage">
                <button
                  class="homepage-newProducts-gridItem-productBuy-Button orderButton"
                >
                  Rendelés
                </button>
              </a>

              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Button orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
          <div class="homepage-newProducts-gridItem">
            <div class="homepage-newProducts-gridItem-productPicture">
              <img
                src="../Pictures/HomepagePic/gbpqy8wkncs5lyoorw7c.png"
                alt="airpods"
              />
            </div>
            <div class="homepage-newProducts-gridItem-productName">
              <p>AirPods Pro 2 Lightning tokkal</p>
            </div>
            <div class="homepage-newProducts-gridItem-productBuy">
              <button
                class="homepage-newProducts-gridItem-productBuy-Butto orderButton"
              >
                Rendelés
              </button>
              <p>580 000Ft</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div id="footer"></div>
  </body>
</html>
