.footer {
  display: flex;
  flex-direction: row;
  background-color: #181716;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 30vh;
  color: white;
  padding-inline: 3rem;
}

.footer-connection-textContainer-element img {
  height: 30px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.footer-fastLinks {
  display: flex;
  flex-direction: column;
}
.footer-fastLinks-links {
  display: flex;
  flex-direction: column;
}
.footer-fastLinks-links a {
  text-decoration: none;
  color: white;
}

.footer-logo span {
  color: red;
}
.footer-connection-textContainer-element {
  display: flex;
}
.copyright {
  background-color: #181716;
  color: #565654;
  height: 35px;
  font-style: italic;
  padding-left: 3rem;
}

@media screen and (max-width: 1050px) {
  .footer {
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  .footer-logo {
    margin: 1rem 0;
  }
}
