.homepage-hero {
  height: 28rem;
  background-color: black;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-inline: 3rem;
}
.homepage-hero-text {
  flex: 1;
  position: absolute;
  height: 20rem;
  width: 40%;
  margin-top: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 2rem;
}

.homepage-hero-text-header-iphone {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.homepage-hero-text-header-iphone img {
  height: 2rem;
  margin-right: 0.5rem;
}

.homepage-hero-text h2 {
  font-family: Inter;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  background: linear-gradient(180deg, #565654 0%, #898886 72.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0 5rem 0;
}
.homepage-hero-text h3 {
  font-size: 2.8em;
}
.homepage-hero-mainPic img {
  width: 70vh;
  max-width: 100%;
  max-width: 100%;
  transform: rotate(-15deg);
  flex-shrink: 0;
}
.homepage-hero-mainPic {
  flex: 1;
  position: absolute;
  top: -1rem;
  left: 4rem;
}
.hero-button {
  height: 3rem;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  color: white;
  background-color: #068fff;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  letter-spacing: 2.25px;
  cursor: pointer;
  text-decoration: none;
}
.homepage-buyAttract {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.homepage-buyAttract-mainText {
  font-weight: 700;
  letter-spacing: 5px;
}
.homepage-buyattract-buttonContainer {
  display: flex;
  align-items: center;
}
.homepage-buyattract-buttonContainer p {
  color: #068fff;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2px;
  margin-right: 0.6rem;
  cursor: pointer;
}
.homepage-buyattract-buttonContainer img {
  height: 100%;
  width: 1.5rem;
}

.homepage-newsLetter {
  height: 18rem;
  background-color: #eee;
  margin: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.homepage-newsLetter h3 {
  color: #000;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 3px;
  margin-bottom: 1.3rem;
}
.homepage-newsLetter-textBox {
  flex: 0.75;
}
.homepage-newsLetter-textBox p {
  font-size: 1.1em;
}
.homepage-newsLetter-inputBox-container {
  flex: 1;
}

.homepage-newsLetter span {
  color: red;
  font-size: 1em;
}

.homepage-newsLetter input {
  width: 15rem;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.5px solid #8f8f8f;
  background: #fff;
  font-size: 1em;
  padding-inline: 2em;
  margin-bottom: 1rem;
}

.homepage-newProducts {
  display: flex;
  flex-direction: column;
  height: 120%;
  text-align: center;
  margin-bottom: 2rem;
}
.homepage-newProducts-text {
  text-align: center;
}

.homepage-newProducts-gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(2rem, auto);
  padding: 2.5rem 5rem;
}
.homepage-newProducts-gridItem {
  border: 1px solid #8f8f8f;
  background: #fff;
}
.homepage-newProducts-gridItem-productPicture img {
  height: 300px;
}
.homepage-newProducts-gridItem button {
  margin: 0.5rem 0;
}
.price {
  font-weight: 600;
  font-size: 1.2em;
}

@media screen and (max-width: 1050px) {
  .homepage-hero {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding-inline: 0;
  }
  .homepage-hero-text {
    height: 10rem;
    margin-top: 2rem;
    padding-inline: 1rem;
  }

  .homepage-hero-text-header-iphone img {
    height: 2rem;
    margin-right: 0.3rem;
  }

  .homepage-hero-mainPic img {
    width: 40vh;

    height: 100%;
    text-align: center;
    position: relative;
    transform: rotate(0);
    display: none;
  }
  .homepage-hero-text-header-iphone {
    white-space: nowrap;
    overflow: hidden;
  }
  .homepage-hero-mainPic {
    display: none;
  }
  .hero-button {
    display: none;
    padding: 0;
  }
  .herobutton {
    display: none;
    background-color: black;
  }
  .homepage-buyAttract-mainText {
    font-size: 1em;
  }
  .homepage-buyattract-buttonContainer p {
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }
  .homepage-buyattract-buttonContainer img {
    width: 1.3rem;
  }

  .homepage-newsLetter {
    height: 100%;
    margin: 2rem;
    flex-direction: column;
    padding: 1rem;
  }
  .homepage-newsLetter h3 {
    font-size: 2em;
    line-height: 34px;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
  }

  .homepage-newsLetter span {
    color: red;
    font-size: 1em;
  }

  .homepage-newsLetter input {
    width: 10rem;
    height: 50px;
  }
  #newsLetter-email {
    width: 10rem;
  }

  .homepage-newProducts-gridContainer {
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(1rem, auto);
    padding: 2rem 3rem;
  }

  .homepage-newProducts-gridItem-productPicture img {
    height: 200px;
  }

  .price {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .homepage-hero-text h2 {
    font-size: 2em;
  }
  .homepage-hero-text-header-iphone h3 {
    font-size: 2em;
  }
}
