main {
  height: 100%;
  margin-bottom: 3rem;
}
.google-map {
  height: 80%;
  width: 80%;
  padding-bottom: 50%;
  text-align: center;
  position: relative;
  margin: auto;
}

.google-map iframe {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main h1 {
  text-align: center;
  margin: 2rem 0;
}

main p {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2rem;
}
main span {
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .infopage-info p {
    font-size: 1em;
  }
}
