* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 2.25px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

section {
  background-color: #eee;
  margin: 5% auto;
  padding: 3%;
  border-radius: 10px;
}

main {
  padding: 0 7vw;
  min-height: 100vh;
}

.login,
.registration {
  width: 100%;
  font-size: 1.3em;
  letter-spacing: 2.25px;
}

.form-input {
  display: block;
  padding: 1.5%;
  width: 100%;
  margin: 0.5rem;
  margin-left: 0;
}
.form-input input {
  border: 0.5px solid #8f8f8f;
  margin-top: 0.5rem;
  margin-left: 0;
}
.btn {
  width: 50%;
}
fieldset {
  border: none;
}

input[type="submit"],
input[type="signup"] {
  background-color: #068fff;
  font-weight: bold;
  height: 3rem;
  width: 100%;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  letter-spacing: 2.25px;
  margin-top: 1rem;
}

input[type="submit"]:hover,
input[type="signup"]:hover {
  background-color: #6d707d;
}
a {
  text-decoration: none;
}

.login-notregistered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .login-notregistered {
    flex-direction: column;
  }
  .login-notregistered h2 {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  .login,
  .registration {
    font-size: 1em;
  }
  input[type="submit"],
  input[type="signup"] {
    font-size: 1em;
  }
}
