main {
  text-align: center;
}
.google-map {
  height: 80%;
  width: 80%;
  padding-bottom: 50%;
  text-align: center;
  position: relative;
  margin: auto;
}

.google-map iframe {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 2.5rem;
}
.shops {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 4rem;
}
.shops-element {
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #eeeeee;
  box-shadow: 0px 0px 10px 5px #bdbebe;
  padding: 1rem;
  margin-bottom: 2rem;
}
.shops-element-img img {
  height: 10vh;
  flex: 0.1;
}
.shops-element-text {
  flex: 2;
}

@media screen and (max-width: 800px) {
  .shops-element {
    flex-direction: column;
  }
}
